body {
  font-family: "DynaPuff", "sans-serif";
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: 1199px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: 767px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
