@mixin text($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin link($text-decoration, $color) {
  text-decoration: $text-decoration;
  color: $color;
}

@mixin margin($margin-top, $margin-right, $margin-left, $margin-bottom) {
  margin-top: $margin-top;
  margin-right: $margin-right;
  margin-left: $margin-left;
  margin-bottom: $margin-bottom;
}

@mixin padding($padding-top, $padding-right, $padding-left, $padding-bottom) {
  padding-top: $padding-top;
  padding-right: $padding-right;
  padding-left: $padding-left;
  padding-bottom: $padding-bottom;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
