.footer {
  background-color: $black;
}

.footer__section {
  padding-top: 78px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 163px;

  @media (max-width: 1200px) {
    padding-top: 96px;
    padding-bottom: 35px;
    gap: 60px;
  }

  @media (max-width: 768px) {
    padding-top: 53px;
    padding-bottom: 40px;
    gap: 113px;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__content-link {
  text-decoration: none;
}

.footer__div-icon-dawn {
  display: flex;
  padding: 42px 137px;
  justify-content: center;
  border-radius: 139px;
  border: 1px solid $white;
  align-items: center;
  gap: 45px;

  @media (max-width: 1099px) {
    gap: 20px;
    padding: 17px 27px;
  }

  @media (max-width: 768px) {
    gap: 20px;
    padding: 15px 20px;
  }

  @media (max-width: 425px) {
    padding: 12px 20px;
  }
}

.footer__content-image {
  @include size(108px, 108px);

  @media (max-width: 767px) {
    @include size(51px, 52px);
  }
}

.footer__content-title {
  color: $white;
  font-weight: 700;
  line-height: normal;
  font-size: clamp(20px, 6.2vw, 48px);
  text-wrap: nowrap;

  margin-bottom: 17px;
  margin-top: 0;

  @media (max-width: 767px) {
    margin-bottom: 4px;
  }
}

.footer__content-text {
  margin-top: 0;
  margin-bottom: 0;
  color: $white;
  font-family: Manrope;
  font-weight: 500;
  line-height: normal;
  font-size: clamp(15px, 4.6vw, 24px);
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__icons {
  display: flex;
  @include margin(164px, 0, 0, 22px);
}

.footer__icons-list {
  display: flex;
  gap: 34px;
}

.footer__icons-element {
  display: flex;
}

.footer__icons-link {
  text-decoration: none;
}

.footer__icons-image {
  @include size(24px, 24px);
}

.footer__text {
  color: $white;
  font-family: Manrope;
  @include text(16px, 500, normal);

  @media (max-width: 425px) {
    font-size: 14px;
  }
}
