.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
}

.header-content {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @media (max-width: 767px) {
    padding-top: 38px;
  }

  @media (max-width: 375px) {
    padding-top: 28px;
  }
}

.section-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-content__image {
  @include size(56px, 56px);
}

.header-menu__list {
  display: flex;
  gap: 20px;
  @media (max-width: 1199px) {
    display: none;
  }
}

.header-menu__element {
  border-radius: 20px;
  border: 1px solid $white;
  @include padding(10px, 16px, 16px, 10px);
}

.header-menu__element-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-menu__element-image {
  @include size(16px, 16px);

  &--hiden {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    display: none;
    @media (max-width: 1199px) {
      display: block;
    }
  }
}

.header__element-text {
  color: $white;
  font-family: Manrope;
  @include text(16px, 700, normal);
}

.section-hero {
  @include padding(400px, 0, 0, 115px);

  @media (max-width: 1199px) {
    @include padding(180px, 0, 0, 130px);
  }

  @media (max-width: 767px) {
    @include padding(330px, 0, 0, 150px);
  }
}

.header__title {
  color: $white;
  @include text(80px, 700, normal);
  @include padding(400px, 0, 0, 115px);
  width: 846px;

  @media (max-width: 1199px) {
    width: 521px;
  }

  @media (max-width: 767px) {
    width: 326px;
    font-size: 48px;
  }
}
