.main-design {
  background-color: $black;
  @include padding(82px, 0, 0, 138px);
}

.main-design__title {
  color: $white;
  font-weight: 700;
  line-height: normal;
  font-size: clamp(36px, 11.25vw, 80px);
  text-wrap: nowrap;
  @media (max-width: 425px) {
    font-size: 36px;
  }
}

.main-design__content {
  display: flex;
  flex-direction: column;
  gap: 38px;
  position: relative;
}

.main-design__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 26px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
  }
}

.main-design__element {
  position: relative;
}

.main-design__element:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main-design__element:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (max-width: 767px) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.main-design__element:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (max-width: 767px) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.main-design__element:nth-child(1)::after {
  content: "";
  background-image: url(/images/icons/Soft-Star.svg);
  @include size(268px, 268px);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  @media (max-width: 1099px) {
    @include size(228px, 228px);
  }

  @media (max-width: 767px) {
    @include size(134px, 138px);
  }
}

.main-design__element:nth-child(2)::after {
  content: "";
  background-image: url(/images/icons/Butterfly.svg);
  @include size(187px, 192px);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  @media (max-width: 1099px) {
    @include size(148px, 152px);
  }

  @media (max-width: 767px) {
    @include size(134px, 138px);
  }
}

.main-design__element:nth-child(3)::after {
  content: "";
  background-image: url(/images/icons/Asterisk-1.svg);
  @include size(233px, 225px);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  @media (max-width: 1099px) {
    @include size(184px, 178px);
  }

  @media (max-width: 767px) {
    @include size(148px, 144px);
  }
}

.main-design__image--big {
  filter: grayscale(1);
  @include size(100%, 414px);
  border-radius: 40px;

  @media (max-width: 425px) {
    @include size(100%, 325px);
  }
}

.main-design__image--small {
  filter: grayscale(1);

  @include size(100%, 414px);
  border-radius: 40px;

  @media (max-width: 425px) {
    @include size(100%, 325px);
  }
}
