.main-slogan {
  position: relative;
  background: url("/images/Rectangle-8.jpg"), lightgray 50%;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;

  @media (max-width: 767px) {
    height: 500px;
  }

  .main-slogan-div {
    content: "";
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.main-slogan-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: $white;
  @include text(48px, 700, normal);
  text-align: center;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}
