.main-portfolio {
  display: flex;
  flex-direction: column;
  background-color: $bright-black;
  @include padding(86px, 0, 0, 86px);
  gap: 64px;

  @media (max-width: 1199px) {
    gap: 102px;
    @include padding(52px, 0, 0, 122px);
  }

  @media (max-width: 767px) {
    gap: 64px;
    @include padding(52px, 0, 0, 86px);
  }
}

.main-portfolio__project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  background: $ivory-white;
  position: relative;
  @include padding(24px, 20px, 20px, 24px);
  width: fit-content;

  @media (max-width: 425px) {
    @include padding(16px, 16px, 16px, 16px);
  }
}

.main-portfolio__project-image {
  @include size(100%, 498px);

  @media (max-width: 425px) {
    height: 278px;
  }
}

.main-portfolio__content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.main-portfolio__content-apps {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: fit-content;
}

.main-portfolio__project-title {
  color: $grey;
  @include text(40px, 600, normal);
  width: fit-content;
}

.main-portfolio__project-text {
  color: $pure-black;
  font-family: Manrope;
  @include text(16px, 700, normal);
  width: fit-content;
}

.main-portfolio__apps {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.main-portfolio__apps-element {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: $ivory-white;
  @include padding(20px, 20px, 20px, 20px);
  gap: 20px;
  position: relative;

  @media (max-width: 425px) {
    @include padding(12px, 12px, 12px, 12px);
  }
}

.main-portfolio__apps-element:last-child {
  @media (max-width: 1199px) {
    display: none;
  }
}

.main-portfolio__apps-element:nth-child(1) {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-portfolio__apps-image {
  @include size(100%, 100%);

  @media (max-width: 767px) {
    height: 448px;
  }

  @media (max-width: 425px) {
    height: 363px;
  }
}

.main-portfolio__icon {
  @include size(60px, 60px);
  position: absolute;
  top: 30px;
  right: 30px;
}

.main-portfolio__apps-title {
  color: $grey;
  @include text(22px, 700, normal);
  width: fit-content;
}

.main-portfolio__apps-text {
  color: $pure-black;
  font-family: Manrope;
  @include text(16px, 500, normal);
  width: fit-content;
}
