.main-author {
  display: flex;
  background-color: $black;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.main-author__content {
  display: flex;
  @include padding(98px, 0, 0, 102px);
  flex-direction: column;
  gap: 40px;

  @media (max-width: 1099px) {
    @include padding(102px, 0, 0, 102px);
  }

  @media (max-width: 767px) {
    @include padding(72px, 0, 0, 76px);
  }
}

.main-author__ellipse {
  position: relative;
  top: 0;
  right: 0;

  @media (min-width: 767px) {
    right: 0px;
  }

  @media (max-width: 375px) {
    position: absolute;
    top: 60px;
    right: 0;
  }
}

.main-author__title {
  color: $pure-yellow;
  @include text(48px, 700, normal);
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: 767px) {
    font-size: 36px;
    width: 342px;
  }
}

.main-author__text {
  color: $white;
  font-family: Manrope;
  @include text(16px, 500, normal);
  margin-top: 0;
  margin-bottom: 0;
  width: 524px;

  @media (max-width: 767px) {
    font-size: 15px;
    width: 342px;
  }
}

.main-author__statistics-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 96px;

  @media (max-width: 767px) {
    gap: 42px;
  }
}

.main-author__statistics-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-author__statistics-num {
  color: $white;
  @include text(48px, 700, normal);

  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.main-author__statistics-text {
  color: $white;
  font-family: Manrope;
  @include text(16px, 700, normal);

  @media (max-width: 767px) {
    width: 76px;
  }
}
